<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>결과</title>
    </head>
    <body>
        <div class = "second-main" style = "height: 100% , width : 100%;">
            <nav>
                <ul style = "padding-right: 2%;" class = "main-nav">
                    <li><a href ="/">뒤로가기!</a></li>
                </ul>
               
            </nav>
            <div class = "header">
                <row style = "width: 100% ; display: flex; justify-content: center;">
                    <h3 class="header-text">-판별한 전투기 내용-</h3>
                </row>
                <row style = "width: 100% ; display: flex; justify-content: center;">
                    <img class = "result-img" src={{url_for('static', filename = 'images/'+ img)}}>
                </row>
            </div>

            <div class = "info">
            
                <row style = "width: 100% ; display: flex; justify-content: center;">
                    <h3 class = "header-text">Model Prediction</h3>
                </row>
                <row style = "width: 100%; display: flex; justify-content: center;">
                    <table class="table-bordered text-light table-custom">
                        <tr>
                            <th>Rank</th>
                            <th>Class</th>
                            <th>Probability</th>
                        </tr>
                        <tr>
                            <td>1st</td>
                            <td>{{ predictions.class1 }}</td>
                            <td>{{ predictions.prob1 }} %</td>
                          </tr>
                          <tr>
                            <td>2nd</td>
                            <td>{{ predictions.class2 }}</td>                                                         
                            <td>{{ predictions.prob2 }} %</td>                                                      
                        </tr>                                                                                                               
                        <tr>
                            <td>3rd</td>
                            <td>{{ predictions.class3 }}</td>
                            <td>{{ predictions.prob3 }} %</td>
                          </tr>
                    </table>
                </row>
            </div>
        </div>
    </body>
</html>